<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="conexaoBD" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)         (HOST = 192.168.254.251)(PORT = 1521)))  (CONNECT_DATA = (SID = CIGAM)));Persist Security Info=True;User ID=CIGAM;Password=CIGAM" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FastReport.Compat" publicKeyToken="406e1f4c3c8ef97e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.4.2.0" newVersion="2020.4.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>